<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace set -->
<mapper namespace="com.gguek.app.board.qna.mapper.QnaMapper">


	<!-- Search start -->
	<sql id="search">
		WHERE
		<choose>
			<when test="kind=='v2'">BOARD_WRITER</when>
			<when test="kind=='v3'">BOARD_CONTENTS</when>
			<otherwise>BOARD_TITLE</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
	</sql>
	<!-- Search end -->


	<!-- Page start -->
	<select id="getCount" resultType="Long" parameterType="Pager2">
		SELECT COUNT(BOARD_NO) FROM TB_QNA
		<include refid="search"></include>
	</select>
	<!-- Page end -->


	<!-- list start -->
	<select id="list" resultType="QnaDTO" parameterType="Pager2">
		SELECT * FROM
		(
		SELECT ROWNUM R, T.*
		FROM
		(
		SELECT *
		FROM TB_QNA
		<include refid="search"></include>
		ORDER BY BOARD_REF DESC, BOARD_STEP ASC
		
		) T
		)
		WHERE R BETWEEN #{first}
		AND #{last}
	</select>
	<!-- list end -->


	<!-- detail start -->
	<select id="detail" resultMap="detailResult"
		parameterType="QnaDTO">
		SELECT *
		FROM TB_QNA tq
		LEFT JOIN
		TB_QNA_FILE tqf
		USING(BOARD_NO)
		WHERE
		BOARD_NO = #{boardNo}
	</select>
	<resultMap type="QnaDTO" id="detailResult">
		<!-- ID => Primary Key -->
		<id column="BOARD_NO" property="boardNo" />
		<!-- 그외 나머지 -->
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENTS" property="boardContents" />
		<result column="BOARD_WRITER" property="boardWriter" />
		<result column="BOARD_DATE" property="boardDate" />
		<result column="BOARD_VIEWS" property="boardViews" />
		<result column="BOARD_REF" property="boardRef" />
		<result column="BOARD_STEP" property="boardStep" />
		<result column="BOARD_DEPTH" property="boardDepth" />
		<!-- 1:N -->
		<collection property="list" ofType="QnaFileDTO">
			<id column="FILE_NO" property="fileNo" />
			<result column="FILE_NAME" property="fileName" />
			<result column="ORIGIN_NAME" property="originName" />
		</collection>
	</resultMap>
	<!-- detail end -->


	<!-- create start -->
	<insert id="create" parameterType="QnaDTO">
		<selectKey order="BEFORE" resultType="Long"
			keyProperty="boardNo">
			SELECT SEQ_QNA.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		TB_QNA
		(
		BOARD_NO,
		BOARD_TITLE,
		BOARD_CONTENTS,
		BOARD_WRITER,
		BOARD_REF,
		BOARD_STEP,
		BOARD_DEPTH
		)
		<!-- /* BOARD_DATE와 BOARD_VIEWS는 DB의 DEFAULT 설정을 따르도록 생략 */ -->
		VALUES
		(
		#{boardNo},
		#{boardTitle},
		#{boardContents},
		#{boardWriter},
		<choose>
            <when test="boardRef != null">#{boardRef}</when>
            <otherwise>#{boardNo}</otherwise>
        </choose>,
        <choose>
            <when test="boardStep != null">#{boardStep}</when>
            <otherwise>0</otherwise>
        </choose>,
        <choose>
            <when test="boardDepth != null">#{boardDepth}</when>
            <otherwise>0</otherwise>
        </choose>
		)
	</insert>
	<!-- create end -->

	<!-- update start -->
	<update id="replyupdate" parameterType="QnaDTO">
		UPDATE TB_QNA
		SET
		BOARD_STEP = BOARD_STEP+1
		WHERE BOARD_REF = #{boardRef}
		AND
		BOARD_STEP > #{boardStep}
	</update>

	<!-- update end -->

</mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  