<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FQDN 사용할 DAO의 클래스명을 풀패키지명으로 작성 -->
<mapper
	namespace="com.gguek.app.board.notice.mapper.NoticeMapper">
	<!-- 쿼리 태그 -->
	<!-- ID : DAO에서 사용할 메서드명을 ID로 작성 -->
	<!-- 컬럼명과 resultType의 Bean의 Setter 이름이 같은 걸 찾아서 대입 -->

	<!-- list -->
	<select id="list" resultType="NoticeDTO">
		<![CDATA[ 
			SELECT *
			FROM
				TB_NOTICE
			WHERE
				NOTICE_NO>(SELECT MAX(NOTICE_NO)-10 FROM TB_NOTICE)
				AND NOTICE_NO <= (SELECT MAX(NOTICE_NO) FROM TB_NOTICE)
			ORDER BY
				NOTICE_NO DESC
			]]>
	</select>

	<select id="detail" resultType="NoticeDTO" parameterType="NoticeDTO">
		SELECT
			*
		FROM
			TB_NOTICE
		WHERE
			NOTICE_NO = #{noticeNo}
	</select>

	<insert id="create"
		parameterType="NoticeDTO">
		INSERT INTO
			TB_NOTICE(
				NOTICE_NO,
				NOTICE_TITLE,
				NOTICE_CONTENTS,
				PROFESSOR_NO
				)
			<!-- /* NOTICE_DATE와 NOTICE_VIEWS는 DB의 DEFAULT 설정을 따르도록 생략 */ -->
		VALUES(
			NOTICE_NO.NEXTVAL,
			#{noticeTitle},
			#{noticeContents},
			#{professorNo}
			)
	</insert>

</mapper>

