<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FQDN 사용할 DAO의 클래스명을 풀패키지명으로 작성 -->
<mapper
	namespace="com.gguek.app.board.notice.mapper.NoticeMapper">
	<!-- 쿼리 태그 -->
	<!-- ID : DAO에서 사용할 메서드명을 ID로 작성 -->
	<!-- 컬럼명과 resultType의 Bean의 Setter 이름이 같은 걸 찾아서 대입 -->

	<!-- File start -->
	<insert id="createFile" parameterType="NoticeFileDTO">

		INSERT INTO TB_NOTICEFILE
		(
		FILE_NO,
		FILE_NAME,
		ORIGIN_NAME,
		BOARD_NO
		)
		VALUES
		(
		NOTICE_NO.NEXTVAL,
		#{fileName},
		#{originName},
		#{boardNo}
		)

	</insert>






	<!-- File End -->

	<sql id="search">
		WHERE
		<choose>
			<when test="kind=='v2'">BOARD_WRITER</when>
			<when test="kind=='v3'">BOARD_CONTENTS</when>
			<otherwise>BOARD_TITLE</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
	</sql>



	<!-- detail -->
	<select id="detail" resultMap="detailResult"
		parameterType="NoticeDTO">
		SELECT *
		FROM TB_NOTICE tn
		LEFT JOIN
		TB_NOTICEFILE tn2
		USING(BOARD_NO)
		WHERE BOARD_NO = #{boardNo}
	</select>

	<resultMap type="NoticeDTO" id="detailResult">
		<!-- ID => Primary Key -->
		<id column="BOARD_NO" property="boardNo" />
		<!-- 그외 나머지 -->
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENTS" property="boardContents" />
		<result column="BOARD_WRITER" property="boardWriter" />
		<result column="BOARD_DATE" property="boardDate" />
		<result column="BOARD_VIEWS" property="boardViews" />


		<!-- 1:N -->
		<collection property="list" ofType="NoticeFileDTO">
			<id column="FILE_NO" property="fileNo" />
			<result column="FILE_NAME" property="fileName" />
			<result column="ORIGIN_NAME" property="originName" />
		</collection>

	</resultMap>





	<select id="getCount" resultType="Long" parameterType="Pager2">
		SELECT COUNT(BOARD_NO) FROM TB_NOTICE
		<include refid="search"></include>
	</select>

	<!-- list -->
	<select id="list" resultType="NoticeDTO" parameterType="Pager2">
		SELECT * FROM
		(
		SELECT ROWNUM R, T.*
		FROM
		(
		SELECT *
		FROM TB_NOTICE
		<include refid="search"></include>
		ORDER BY BOARD_NO DESC
		) T
		)
		WHERE R BETWEEN #{first} AND #{last}
	</select>


	<insert id="create" parameterType="NoticeDTO">
		<selectKey order="BEFORE" resultType="Long"
			keyProperty="boardNo">
			SELECT NOTICE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		TB_NOTICE
		(
		BOARD_NO,
		BOARD_TITLE,
		BOARD_CONTENTS,
		BOARD_WRITER
		)
		<!-- /* NOTICE_DATE와 NOTICE_VIEWS는 DB의 DEFAULT 설정을 따르도록 생략 */ -->
		VALUES
		(
		#{boardNo},
		#{boardTitle},
		#{boardContents},
		#{boardWriter}
		)
	</insert>

</mapper>

